@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merriweather:ital@1&family=Rock+Salt&family=Satisfy&display=swap');
body {
    background-color: #E9E9E9;
    font-family: 'lato', 'helvetica', serif;
    
    margin: 0;
    padding: 0;
}
#content {
    max-width: 100%;
    margin: 0 auto;
    
}
header {
    font-size: 22px;
    background-color: #2C462C;
    display:flex;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 200px;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: 'Merriweather', serif;
}
nav{
    display: flex;
    justify-content: space-around;
} 
nav a:hover {
    background-color: rgba(20,30,13, .7);
    color: white;
}
.tank_front{
    grid-column: 2;
    grid-row: 2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;  
}
.tank_side{
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;   
}
.tank_rear{
    grid-column: 3;
    grid-row: 2;
    width: 90%;   
    margin-left: 5%;
    margin-right: 5%;  
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 50%;
}
h1{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    grid-column: 1/4;
    grid-row: 3;
    margin-top: 50px;
}
footer{
    background-color: #2C462C;
    color: black;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    
}
footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    color: black;

}
footer p {
    font-size: 15PX;
    text-align: left;
    
} 
@media screen and (max-width: 900px) {
    .logo{
        width: 50%;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 70%;
    }
    section{
        margin-top: 40px;
    }
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 50px;
    }
}