
body {
    background-color: #fff1c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    margin: 0;
    padding: 0;
}
#content {
    max-width: 100%;
    margin: 0 auto;
    
}
header {
    font-size: 22px;
    background-color: #2C462C;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 200px;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
nav{
    display: flex;
    justify-content: space-around;
} 
nav a:hover {
    background-color: rgba(20,30,13, .7);
    color: white;
}
#faq-img{
    width: 30%;
    margin-top: 50px;
    grid-column: 2/4;
    border: 3px solid rgba(20,30,13, .7);
    
} 
.tank{
    width: 200px;
}