@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merriweather:ital@1&family=Rock+Salt&family=Satisfy&display=swap');
body {
    background-color: #E9E9E9;
    font-family: 'lato', 'helvetica', serif;
    
    margin: 0;
    padding: 0;
}
#content {
    max-width: 100%;
    margin: 0 auto;
    
}
header {
    font-size: 22px;
    background-color: #2C462C;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 200px;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: 'Merriweather', serif;
}
nav{
    display: flex;
    justify-content: space-around;
} 
nav a:hover {
    background-color: rgba(20,30,13, .7);
    color: white;
}

.tank1{
    padding-left: 10%;
    width: 36%;
}
.tank2{
    width: 40%;
    padding-left: 5%;
}
main p{
    text-align: left;
}
.block1, .block2, .block3{
    padding-left: 15%;
    padding-right: 15%;
}
section{
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

footer{
    background-color: #2C462C;
    color: black;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    
}
footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    color: black;

}
footer p {
    font-size: 15PX;
    text-align: left;
    
} 