@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merriweather:ital@1&family=Rock+Salt&family=Satisfy&display=swap');
body {
    background-color: #E9E9E9;
    font-family: 'lato', 'helvetica', serif;
    
    margin: 0;
    padding: 0;
}
#content {
    max-width: 100%;
    margin: 0 auto;
    
}
header {
    font-size: 22px;
    background-color: #2C462C;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 200px;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: 'Merriweather', serif;
}
nav{
    display: flex;
    justify-content: space-around;
} 
nav a:hover {
    background-color: rgba(20,30,13, .7);
    color: white;
}
main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(200px,20);
}
img{
    width: 100%;
    grid-column: 2/3;
}
main p{
    grid-column: 1/2;
}


footer{
    background-color: #2C462C;
    color: black;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    
}
footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    color: black;

}
footer p {
    font-size: 15PX;
    text-align: left;
    
} 
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}